<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Budget Calculator</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
          <div class="ui header">Add a new budget
            <div id="addBudget" class="ui violet basic button"><a href="/budgets/new" ><i class="plus icon"></i></a></div>
          </div>
            <% budgets.sort(function(a, b){ %>
                  <%  return (new Date(a["startDate"]) - new Date(b["startDate"]))}); %>
            <% budgets.forEach(function(budget){ %>
                <div class="item">
                    <div class="content">
                        <span class="header">Budget Name: &nbsp;</span><a class="header" href="/budgets/<%=budget._id%>" ><%=budget.name%></a>
                        <div class="amountConstraint">
                                <p><span>Amount Constraint: &nbsp;$</span><%- budget.amountConstraint %></p>
                        </div>
                        <div class="startDate">
                            <span>Start Date: <%= budget.startDate.toDateString() %></span>
                        </div>
                        <div class="endDate">
                            <span>End Date: <%= budget.endDate.toDateString() %></span>
                        </div>
                        <div class="extra">
                          <div id="chevronButton">
                              <a class="ui floated basic violet button" href="/budgets/<%=budget._id%>">
                                <div id="readText">Read More</div>
                                <i class="right chevron icon"></i>
                              </a>
                          </div>
                        </div>
                    </div>
                </div>
            <% })%>
        </div>
    </div>
</div>
<% include ./partials/footer %>
