<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">Edit: "<%=transaction.name%>"</div>
        <form class="ui form" action="/transactions/<%= transaction._id %>?_method=PUT" method="POST">   
                <div class="field">
                    <label>Name</label>
                    <input required type="text" name="transaction[name]" value="<%=transaction.name%>">
                </div>
                <label>Amount</label>
                    <input required type="number" name="transaction[amount]" value="<%=transaction.amount%>">
                
                <label>Category</label>
                    <select name="transaction[category]" value="<%=transaction.category%>">
                            <option value="Rent & utilities">Rent & utilities</option>
                            <option value="Groceries">Groceries</option>
                            <option value="Dining">Dining</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Travel & lodging">Travel & lodging</option>
                            <option value="Other">Other</option>
                          </select>
                
                <label>Date</label>
                <%
                    var d = new Date(transaction.created);
                    var dString = d.toISOString().split('T')[0]
                %>
                    <input required type="date" name="transaction[created]" value="<%=dString%>">
                <div style="margin-top: 10px;">
                    <input class="ui button" type="submit">
                </div>
            </div>
        </form>
</div>

<% include ./partials/footer %>