<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Budget Calculator</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% transactions.sort(function(a, b){ %>
                  <%  return (new Date(a["created"]) - new Date(b["created"]))}); %>
            <% transactions.forEach(function(transaction){ %>
                <div class="item">
                    <div class="content">
                        <span class="header">Transaction Name: &nbsp;</span><a class="header" href="/transactions/<%=transaction._id%>" ><%=transaction.name%></a>
                        <div class="amount">
                                <p><span><strong>Amount:</strong> &nbsp;$</span><%- transaction.amount %></p>
                            </div>
                        <div class="date">
                            <span><strong>Date: </strong><%= transaction.created.toDateString() %></span>
                        </div>
                        <div class="category">
                            <p><span><strong>Category: </strong>&nbsp;</span><%- transaction.category %></p>
                        </div>
                        <div class="extra">
                            <div id="chevronButton">
                                <a href="/transactions/<%=transaction._id%>" class="ui floated basic violet button">
                                Read More
                                <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <% })%>
        </div>
    </div>
</div>
<% include ./partials/footer %>
