<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Budget Calculator</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% transactions.forEach(function(transaction){ %>
                <div class="item">
                    <div class="content">
                        <span class="header">Transaction Name: &nbsp;</span><a class="header" href="/transactions/<%=transaction._id%>" ><%=transaction.name%></a>
                        <div class="amount">
                                <p><span>Amount: &nbsp;$</span><%- transaction.amount %></p>
                            </div>
                        <div class="meta">
                            <span>Date: <%= transaction.created.toDateString() %></span>
                        </div>
                        <div class="category">
                            <p><span>Category: &nbsp;</span><%- transaction.category %></p>
                        </div>
                        <div class="extra">
                            <a href="/transactions/<%=transaction._id%>" class="ui floated basic violet button">
                            Read More
                            <i class="right chevron icon"></i>
                            </a>
                        </div>       
                    </div>           
                </div>
            <% })%>
        </div>
    </div>
</div>
<% include ./partials/footer %>