<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= budget.name %></div>
        <div class="ui top attached">
            <div class="item">
                <div class="name">
                    <p><span><strong>Name:</strong> &nbsp;</span><%= budget.name %></p>
                </div>
                <div class="amountConstraint">
                    <p><span><strong> Amount Constraint:</strong> &nbsp;$</span><%= budget.amountConstraint %></p>
                </div>
                <div class="startDate">
                    <span><strong>Start Date:</strong> <%= budget.startDate.toDateString() %></span>
                </div>
                <div class="endDate">
                    <span><strong>End Date: </strong><%= budget.endDate.toDateString() %></span>
                </div>
                <div class="fixedCosts">
                <label><strong>Fixed Costs:</strong></label>
                <br>  
                <% 
                    var i = 0;
                    budget.fixedCosts.forEach(function(fc){ %>
                    <span> <%= i+1 %>.</span>
                    <span style="padding-right: 20px;"> Name: <%= budget.fixedCosts[i].description %></span>
                    <span> Amount: $<%= budget.fixedCosts[i].amount %></span>
                    <br>
                <% i++;
                    })%> 
                </div>
                <a class="ui yellow basic button" href="/budgets/<%=budget._id%>/edit">Edit</a>
                <form id="delete" action="/budgets/<%=budget._id%>?_method=DELETE" method="POST">
                    <button class="ui red basic button">Delete</button>
                </form>
            </div>
        </div>
    </div>

<% include ./partials/footer %>
