<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= budget.name %></div>
        <div class="ui top attached">
            <div class="item">
                <div class="name">
                    <p><span><strong>Name:</strong> &nbsp;</span><%= budget.name %></p>
                </div>
                <div class="amountConstraint">
                    <p><span><strong> Amount Constraint:</strong> &nbsp;$</span><%= budget.amountConstraint %></p>
                </div>
                <div class="startDate">
                    <span><strong>Start Date:</strong> <%= budget.startDate.toDateString() %></span>
                </div>
                <div class="endDate">
                    <span><strong>End Date: </strong><%= budget.endDate.toDateString() %></span>
                </div>
                <div class="fixedCosts">
                <label><strong>Fixed Costs:</strong></label>
                  
                <% 
                    if (budget.fixedCosts.length == 0)
                    {
                        %> <span> None</span> <%
                    }
                    else
                    {
                        %> <br> <%
                        var i = 0;
                        budget.fixedCosts.forEach(function(fc){ %>
                        
                        <span> <%= i+1 %>.</span>
                        <span style="padding-right: 20px;"> Name: <%= budget.fixedCosts[i].description %></span>
                        <span> Amount: $<%= budget.fixedCosts[i].amount %></span>
                        <br>
                    <% i++;
                        }) 
                    }%>

                </div>
                <br>
                <div class="calculation">
                <%
                        var bud = budget.amountConstraint;

                        budget.fixedCosts.forEach(function(fc)
                        {
                            bud -= fc.amount;
                        }) 
                        
                        var ed = budget.endDate.getTime();
                        var sd = budget.startDate.getTime();

                        ed = (ed)/(1000*3600*24);
                        sd = (sd)/(1000*3600*24);

                        var days = ed - sd;

                        var perday = bud/days;
                        perday = perday.toFixed(2);

                        var perweek = (7*bud)/(days);
                        perweek = perweek.toFixed(2);
                %>
                <span>After subtracting your fixed costs, you are left with<strong> $<%=bud%></strong> for the period of your budget.</span>
                <br>
                <span>That is approximately <strong>$<%=perday%>/day </strong> or <strong>$<%=perweek%>/week</strong>! </span>
            </div>
            <br>
                <a class="ui yellow basic button" href="/budgets/<%=budget._id%>/edit">Edit</a>
                <form id="delete" action="/budgets/<%=budget._id%>?_method=DELETE" method="POST">
                    <button class="ui red basic button">Delete</button>
                </form>
            </div>
        </div>
    </div>

<% include ./partials/footer %>
